.definition-form{
    width: 200px; height: 100px; border: 2px solid #999999; padding: 5px;
}


.definition-container-span {
    border: 1px groove;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 2.5%;
}

.definition-container-span {
    border: 1px groove;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 2.5%;
}

.definition-top-container-span {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.definition-description-span{
    float: center;
    margin: 5px;
}

.definition-example-span{
    float: center;
    margin: 5px;
}
.definition-button:hover{
    background-color: blueviolet;
 

    color: whitesmoke;

}

.definition-button{
    width: 20%;
    height: 25%;
    margin: 2%;
}
.definition-sort-button{
    width: 20%;
    height: 30px;
    margin: 2%;
}